/* GLOBAL */

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

li {
    list-style: none;
}

address a{
    color: #000;
}

*{
    padding:0;
}

/* NAV SECTION */

.navbar-brand {
    position: absolute;
    width: 100%;
    max-width: 100px;
    top: 10px;
    left: 50%;
}

.hamburger-toggle {
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    top: 25px;
    right: 10px;
    cursor: pointer;
    z-index: 15;
}

.hamburger-toggle i {
    font-size: 25px;
}

.fa-times {
    color:white;
}

.hamburger-toggle .fa-times {
    display: none;
}

.hamburger-toggle .fa-times.open {
    display: block;
    position: fixed;
}

.hamburger-toggle .fa-bars.open {
    display: none;
}

.nav-list {
    background-color: rgba(0, 0, 2, 1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    list-style: none;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
}

.nav-list a {
    color:#fff;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 2.5rem;  
}

.nav-list a:hover{
    color:gold;
    text-decoration: underline;
}

.nav-list.open {
    opacity: 1;
}


/* HERO SECTION */

.hero-light {
    background: linear-gradient(to left, rgba(255, 255, 255, 1), transparent), url("../images/background-1.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    text-align: center;
}

.heading h1{
    writing-mode: vertical-rl;
    text-orientation: upright;   
    font-family: "Cairo", sans-serif;
    float: right;
    font-weight: 600;
    font-size: 2.2rem;
}

.sub-heading {
    float:right;
    font-family: "Cairo", sans-serif;
    font-size: 1rem;
    letter-spacing: 15px;
}

/*ABOUT US*/

.about{
    padding-top: 50px;
    padding-bottom: 50px;
}

.about-us-images {
    padding: 15px;
}

.about-us-heading{
    font-family:"Cairo", sans-serif;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 2px;
}

.about-us-text{
    font-family:"Raleway", sans-serif;
    font-style: italic;
    letter-spacing: 1.2px;
    line-height: 40px;
}

/*DIVIDER*/ 

.divider-bg-1{
    background: linear-gradient(to right, rgba(255, 255, 255, 1), transparent), url("../images/divider-1.jpg") center no-repeat;
    background-size: cover;
}

.divider-bg-2{
    background: linear-gradient(to left, rgba(255, 255, 255, 1), transparent), url("../images/divider-2.jpg") center no-repeat;
    background-size: cover;
}

.divider-section{
    min-height: 65vh;
    display: flex;
    align-items: center;
}

.heading-div-1{
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: 0px;   
    font-family: "Cairo", sans-serif;
    float:left
}

.heading-div-2{
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: 0px;
    font-family: "cairo",sans-serif;   
    float:right
}

/*MENU*/

.menu{
    padding-bottom: 50px;
}

.menu-images{
    width: 100%;
    height: 100%;
}

.menu-heading{
    font-family:"Cairo", sans-serif;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 4px;
}

/*Reservations*/

.reservations{
    padding-top: 50px;
    padding-bottom: 50px;
}

.map{
    height: 350px;
    width: 100%;
    text-align: center;
    margin:auto;
    margin-top: 50px;
    z-index: 25;
}


.address-details{
    font-family: "cairo", sans-serif;
}
.address-heading h5{
    text-decoration: underline;
}

.btn {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin:auto;
    
}

.cta-btn {

    font-size: 1.1rem;
    background-color: #000;
    color: white;
    transition: background-color .5s;
    margin-bottom:50px;
}

.reservations-heading{

        font-family:"Cairo", sans-serif;
        font-size: 40px;
        font-weight: 500;
        letter-spacing: 2px;
}
    
.reservations-text{

        font-family:"Raleway", sans-serif;
        font-style: italic;
        letter-spacing: 1.5px;
        line-height: 40px;
        font-size: 16px
}

/*CONTACT PAGE*/

.contact-section {
    background: linear-gradient(to right, rgba(255, 255, 255, 1), transparent), url("../images/contactbg.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding-top: 15px;
}

.contact-section h1{
    font-family: "Cairo", sans-serif;
    padding-bottom: 15px;
}

.contact-form {
    margin:auto;
    display:flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding:10px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
}

.contact-btn {
    font-size: 1.1rem;
    background-color: #000;
    color: white;
    transition: background-color .5s;
}

/* CTA MODAL*/
.modal-dialog {
    padding:0px;
    color:#000000;
    text-align:center;
}