/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

li {
    list-style: none;
}

address a {
    color: #a9927d;
}

html,
body {
    overflow-x: hidden;
}

* {
    padding: 0;
}

hr.line-light {
    border-top: 2px solid #5e503f;
    width: 50%;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Cairo", sans-serif;
}

h1 {
    font-size: 2.1rem;
}

/* LIGHT MODE */

.light-mode {
    background-color: #f2f4f3;
    color: #0a0908;
}

/* DARK MODE */

.dark-mode {
    background-color: #0a0908;
    color: #a9927d;
}

/* NAV SECTION */

.hamburger-toggle {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 15px;
    right: 8px;
    cursor: pointer;
    z-index: 1000;
}

.hamburger-toggle i {
    font-size: 25px;
    color: #5e503f
}

.fa-times {
    right: 9px;
    font-size: 25px;
}

.fa-times {
    display: none !important;
}

.fa-times.open {
    display: block !important;
    position: fixed;
}

.fa-bars.open {
    display: none;
}

.nav-list {
    background-color: rgba(0, 0, 2, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    list-style: none;
    z-index: 1;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 0;
}

.nav-list a {
    color: #a9927d;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 2.5rem;
}

.nav-list a:hover {
    color: #f2f4f3;
    text-decoration: underline;
}

.nav-list.open {
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.dark-mode-btn {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 45px;
    right: 8px;
    cursor: pointer;
    z-index: 100;
    font-size: 1.2rem;
    color: #5e503f;
}

.basket {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 70px;
    right: 8px;
    cursor: pointer;
    z-index: 100;
    font-size: 1.2rem;
    color: #5e503f;
}

.social-media {
    cursor: pointer;
    font-size: 1.5rem;
}

.social-media a:hover {
    color: #5e503f;
}

.instagram {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 130px;
    right: 7px;
    color: #49111c;
    z-index: 100;
}

.twitter {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 155px;
    right: 7px;
    color: #49111c;
    z-index: 100;
}

.facebook {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 180px;
    right: 7px;
    color: #49111c;
    z-index: 100;
}

.linkedin {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 205px;
    right: 7px;
    color: #49111c;
    ;
    z-index: 100;
}


/* HERO SECTION */

.hero-light {
    background: -webkit-gradient(linear, right top, left top, from(rgba(242, 244, 243, 1)), to(transparent)), url("../images/background-light-home.jpg") center no-repeat;
    background: -o-linear-gradient(right, rgba(242, 244, 243, 1), transparent), url("../images/background-light-home.jpg") center no-repeat;
    background: linear-gradient(to left, rgba(242, 244, 243, 1), transparent), url("../images/background-light-home.jpg") center no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100vh;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.hero-dark {
    background: -webkit-gradient(linear, right top, left top, from(rgba(10, 9, 8, 1)), to(transparent)), url("../images/background-dark-home.jpg") center no-repeat;
    background: -o-linear-gradient(right, rgba(10, 9, 8, 1), transparent), url("../images/background-dark-home.jpg") center no-repeat;
    background: linear-gradient(to left, rgba(10, 9, 8, 1), transparent), url("../images/background-dark-home.jpg") center no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100vh;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.heading h1 {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    -webkit-text-orientation: upright;
    text-orientation: upright;
    float: right;
    font-weight: 600;
    font-size: 2.2rem;
}

.sub-heading {
    float: right;
    font-family: "Cairo", sans-serif;
    font-size: 1rem;
    letter-spacing: 15px;
}

.cta-home {
    font-size: 1.1rem;
    background-color: #49111c;
    color: #f2f4f3;
    -webkit-transition: background-color .5s;
    -o-transition: background-color .5s;
    transition: background-color .5s;
}

/*ABOUT US*/

.about {
    padding-top: 50px;
    padding-bottom: 50px;
}

.about-us-images {
    padding: 15px;
}

.about-us-heading {
    font-weight: 500;
    letter-spacing: 2px;
}

.about-us-text {
    font-family: "Raleway", sans-serif;
    font-style: italic;
    font-size: 0.7rem;
    letter-spacing: 1.2px;
    line-height: 40px;
    width: 250px;
    margin: auto;
    text-align: center;
}


/*DIVIDER*/

.divider-bg-1-light {
    background: -webkit-gradient(linear, left top, right top, from(rgba(242, 244, 243, 1)), to(transparent)), url("../images/divider-1.jpg") center no-repeat;
    background: -o-linear-gradient(left, rgba(242, 244, 243, 1), transparent), url("../images/divider-1.jpg") center no-repeat;
    background: linear-gradient(to right, rgba(242, 244, 243, 1), transparent), url("../images/divider-1.jpg") center no-repeat;
    background-size: cover;
}

.divider-bg-1-dark {
    background: -webkit-gradient(linear, left top, right top, from(rgba(10, 9, 8, 1)), to(transparent)), url("../images/divider-1.jpg") center no-repeat;
    background: -o-linear-gradient(left, rgba(10, 9, 8, 1), transparent), url("../images/divider-1.jpg") center no-repeat;
    background: linear-gradient(to right, rgba(10, 9, 8, 1), transparent), url("../images/divider-1.jpg") center no-repeat;
    background-size: cover;
}

.divider-bg-2-light {
    background: -webkit-gradient(linear, right top, left top, from(rgba(242, 244, 243, 1)), to(transparent)), url("../images/divider-2.jpg") center no-repeat;
    background: -o-linear-gradient(right, rgba(242, 244, 243, 1), transparent), url("../images/divider-2.jpg") center no-repeat;
    background: linear-gradient(to left, rgba(242, 244, 243, 1), transparent), url("../images/divider-2.jpg") center no-repeat;
    background-size: cover;
}

.divider-bg-2-dark {
    background: -webkit-gradient(linear, right top, left top, from(rgba(10, 9, 8, 1)), to(transparent)), url("../images/divider-2.jpg") center no-repeat;
    background: -o-linear-gradient(right, rgba(10, 9, 8, 1), transparent), url("../images/divider-2.jpg") center no-repeat;
    background: linear-gradient(to left, rgba(10, 9, 8, 1), transparent), url("../images/divider-2.jpg") center no-repeat;
    background-size: cover;
}

.divider-section {
    min-height: 65vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.heading-div-1 {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    -webkit-text-orientation: upright;
    text-orientation: upright;
    letter-spacing: 0px;
    font-family: "Cairo", sans-serif;
    float: left
}

.heading-div-2 {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    -webkit-text-orientation: upright;
    text-orientation: upright;
    letter-spacing: 0px;
    font-family: "cairo", sans-serif;
    float: right
}

/*MENU*/

.menu {
    padding-bottom: 50px;
}

.menu-images {
    width: 100%;
    height: 100%;
}

.menu-heading {
    font-family: "Cairo", sans-serif;
    font-weight: 500;
    letter-spacing: 4px;
}

.menu-delivery-text {
    font-family: "Raleway", sans-serif;
    font-style: italic;
    font-size: 0.7rem;
}

hr.line-light-menu{
    border-top: 2px solid #5e503f;
    width: 20%;
}

.card {
    margin: auto;
    border: none;
}

.card-light {
    background-color: #f2f4f3;
}

.card-dark {
    background-color: #0a0908;
}

.card-body p {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
}

.menu-btn {
    font-size: 1.1rem;
    background-color: #49111c;
    color: #f2f4f3;
    -webkit-transition: background-color .5s;
    -o-transition: background-color .5s;
    transition: background-color .5s;
    margin-bottom: 50px;
}

.view-basket-btn {
    font-size: 1.1rem;
    background-color: #49111c;
    color: #f2f4f3;
    -webkit-transition: background-color .5s;
    -o-transition: background-color .5s;
    transition: background-color .5s;
    margin-bottom: 50px;
}

/*Reservations*/

.reservations {
    padding-top: 50px;
    padding-bottom: 50px;
}

.map {
    height: 350px;
    width: 100%;
    text-align: center;
    margin: auto;
    padding-right: 15px;
    padding-left: 15px;

}

.address-details {
    font-family: "cairo", sans-serif;
}

.address-heading h5 {
    text-decoration: underline;
}

.btn {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: auto;
}

.btn:hover {
    color: #a9927d;
}

.cta-btn {
    font-size: 1.1rem;
    background-color: #49111c;
    color: #f2f4f3;
    -webkit-transition: background-color .5s;
    -o-transition: background-color .5s;
    transition: background-color .5s;
    margin-bottom: 50px;
}

.reservations-heading {
    font-weight: 500;
    letter-spacing: 2px;
}

.reservations-text {
    font-family: "Raleway", sans-serif;
    font-style: italic;
    letter-spacing: 1.2px;
    line-height: 40px;
    font-size: 0.7rem;
    width: 280px;
    max-width: 100%;
    margin: auto;
}

hr.line-light-address {
    border-top: 2px solid #5e503f;
    width: 30%;
}

/*CONTACT PAGE*/

.contact-section-light {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(242, 244, 243, 1)), to(transparent)), url("../images/contactbg.jpg") center no-repeat;
    background: -o-linear-gradient(top, rgba(242, 244, 243, 1), transparent), url("../images/contactbg.jpg") center no-repeat;
    background: linear-gradient(to bottom, rgba(242, 244, 243, 1), transparent), url("../images/contactbg.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding-top: 20px;
}

.contact-section-dark {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(10, 9, 8, 1)), to(transparent)), url("../images/contact-us-dark.jpg") center no-repeat;
    background: -o-linear-gradient(top, rgba(10, 9, 8, 1), transparent), url("../images/contact-us-dark.jpg") center no-repeat;
    background: linear-gradient(to bottom, rgba(10, 9, 8, 1), transparent), url("../images/contact-us-dark.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding-top: 20px;
}

.contact-form {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    width: 90%;
    padding: 10px;
    color: #f2f4f3;
    background-color: rgba(0, 0, 0, 0.7);
}

.contact-btn {
    margin-top: 15px;
    font-size: 1.1rem;
    background-color: #49111c;
    color: #f2f4f3;
    -webkit-transition: background-color .5s;
    -o-transition: background-color .5s;
    transition: background-color .5s;
}

/* BOTH MODALS*/
.modal-dialog {
    padding: 0px;
    color: #0a0908;
    text-align: center;
}

/* BOOKING MODAL*/
.close {
    color: #49111c;
    opacity: 1;
    text-shadow: none;
}

.close:hover {
    color: #f2f4f3;
}

.booking-modal {
    background-color: #0a0908;
    color: #a9927d
}

.booking-modal-text {
    font-family: "Cairo", sans-serif;
    font-weight: 400;
}

.booking-modal-head {
    font-family: "Cairo", sans-serif;
    font-weight: 600;
}

/* BASKET MODAL*/

.basket-modal {
    font-family: "Raleway", sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0px;
}

.basket-modal {
    background-color: #0a0908;
    color: #a9927d
}

.basket-data {
    color: #f2f3f4;
}

/* MEDIA QUERIES*/

@media screen and (min-width: 320px) {
    .heading h1 {
        padding-top: 50px;
        font-weight: 300;
        font-size: 1.7rem;
    }

    .sub-heading h5 {
        font-size: 1rem;
        letter-spacing: 12px;
    }
}

@media screen and (min-width: 375px) {
    .heading h1 {
        font-weight: 400;
        font-size: 2.1rem;
    }

    .sub-heading h5 {
        font-size: 1.2rem;
        letter-spacing: 15px;
    }
}

@media screen and (min-width: 768px) {
    .heading h1 {
        font-weight: 600;
        font-size: 2.4rem;
    }

    .sub-heading h5 {
        font-size: 1.8rem;
        letter-spacing: 14px;
    }

    .contact-form {
        width: 80%;
        padding: 50px;
    }

    .basket-modal {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1024px) {
    .sub-heading h5 {
        letter-spacing: 14px;
    }

    h1 {
        font-size: 2.4rem;
    }
}

@media screen and (min-width: 1280px) {
    .heading h1 {
        font-size: 2.2rem;
        letter-spacing: 15px;
    }

    .sub-heading h5 {
        font-size: 1.8rem;
        letter-spacing: 12px;
    }
}

@media screen and (min-width: 1920px) {
    .heading h1 {
        font-size: 2rem;
        letter-spacing: 15px;
    }

    .sub-heading h5 {
        font-size: 1.6rem;
        letter-spacing: 11px;
    }
}