/* GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

li {
    list-style: none;
}

address a {
    color:  #a9927d;
}

* {
    padding: 0;
}

hr.line-light {
    border-top: 2px solid #5e503f;
    width: 50%;
}
/* LIGHT MODE */

.light-mode{
    background-color: #f2f4f3;
    color: #0a0908;
}

.dark-mode{
    background-color: #0a0908;
    color: #a9927d;
}

/* DARK MODE */

/* NAV SECTION */

.hamburger-toggle {
    position: fixed;
    display: flex;
    top: 15px;
    right: 8px;
    cursor: pointer;
    z-index: 1000;
}

.hamburger-toggle i {
    font-size: 25px;
    color:#5e503f
}

.fa-times {
    right: 9px;
    font-size: 25px;

}

.fa-times {
    display: none;
}

.fa-times.open {
    display: block;
    position: fixed;
}

.fa-bars.open {
    display: none;
}

.cart {
    position: fixed;
    display: flex;
    top: 45px;
    right: 8px;
    cursor: pointer;
    z-index: 100;
    font-size: 1.2rem;
    color:#5e503f;
}

.dark-mode-btn { 
        position: absolute;
        display: flex;
        top: 17px;
        right: 50px;
        cursor: pointer;
        z-index: 100;
        font-size: 1.4rem;
        color: #5e503f;
}

.nav-list {
    background-color: rgba(0, 0, 2, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    list-style: none;
    z-index: 1;
    display: none;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
}

.nav-list a {
    color:#a9927d;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 2.5rem;
}

.nav-list a:hover {
    color: #f2f4f3;
    text-decoration: underline;
}

.nav-list.open {
    opacity: 1;
    display: flex;
}

/* HERO SECTION */

.hero-light {
    background: linear-gradient(to left, rgba(242, 244, 243, 1), transparent), url("../images/background-light-home.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    text-align: center;
}

.hero-dark {
    background: linear-gradient(to left, rgba(10, 9, 8, 1), transparent), url("../images/background-dark-home.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    text-align: center;
}

.heading h1 {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: "Cairo", sans-serif;
    float: right;
    font-weight: 600;
    font-size: 2.2rem;
}

.sub-heading {
    float: right;
    font-family: "Cairo", sans-serif;
    font-size: 1rem;
    letter-spacing: 15px;
}

.cta-home {
    font-size: 1.1rem;
    background-color: #49111c;
    color: #f2f2f2;
    transition: background-color .5s;
    padding:5px;
}

/*ABOUT US*/

.about {
    padding-top: 50px;
    padding-bottom: 50px;
}

.about-us-images {
    padding: 15px;
}

.about-us-heading {
    font-family: "Cairo", sans-serif;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 2px;
}

.about-us-text {
    font-family: "Raleway", sans-serif;
    font-style: italic;
    font-size: 0.7rem;
    letter-spacing: 1.2px;
    line-height: 40px;
    width: 300px;
    margin: auto;

}


/*DIVIDER*/

.divider-bg-1-light {
    background: linear-gradient(to right,  rgba(242, 244, 243, 1), transparent), url("../images/divider-1.jpg") center no-repeat;
    background-size: cover;
}

.divider-bg-1-dark {
    background: linear-gradient(to right,  rgba(10, 9, 8, 1), transparent), url("../images/divider-1.jpg") center no-repeat;
    background-size: cover;
}

.divider-bg-2-light {
    background: linear-gradient(to left,  rgba(242, 244, 243, 1), transparent), url("../images/divider-2.jpg") center no-repeat;
    background-size: cover;
}

.divider-bg-2-dark {
    background: linear-gradient(to left,  rgba(10, 9, 8, 1), transparent), url("../images/divider-2.jpg") center no-repeat;
    background-size: cover;
}

.divider-section {
    min-height: 65vh;
    display: flex;
    align-items: center;
}

.heading-div-1 {
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: 0px;
    font-family: "Cairo", sans-serif;
    float: left
}

.heading-div-2 {
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: 0px;
    font-family: "cairo", sans-serif;
    float: right
}

/*MENU*/

.menu {
    padding-bottom: 50px;
}

.menu-images {
    width: 100%;
    height: 100%;
}

.menu-heading {
    font-family: "Cairo", sans-serif;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 4px;
}

.menu-delivery-text {
    font-family: "Raleway", sans-serif;
    font-style: italic;
    font-size: 0.7rem;
}

.card {
    margin: auto;
    border: none;
}

.card-light {
    background-color: #f2f4f3;
}

.card-dark {
    background-color: #0a0908;
}

.card-body p {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
}

.menu-btn {
    font-size: 1.1rem;
    background-color: #49111c;
    color: #f2f2f2;
    transition: background-color .5s;
    margin-bottom: 50px;
}

.view-basket-btn{
    font-size: 1.1rem;
    background-color: #49111c;
    color: #f2f2f2;
    transition: background-color .5s;
    margin-bottom: 50px;
}

/*Reservations*/

.reservations {
    padding-top: 50px;
    padding-bottom: 50px;
}

.map {
    height: 350px;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    z-index: 0;
}

.address-details {
    font-family: "cairo", sans-serif;
}

.address-heading h5 {
    text-decoration: underline;
}

.btn {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: auto;
}

.btn:hover{
    color:#a9927d;
}

.cta-btn {
    font-size: 1.1rem;
    background-color: #49111c;
    color: #f2f4f3;
    transition: background-color .5s;
    margin-bottom: 50px;
}

.reservations-heading {

    font-family: "Cairo", sans-serif;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 2px;
}

.reservations-text {

    font-family: "Raleway", sans-serif;
    font-style: italic;
    letter-spacing: 1.2px;
    line-height: 40px;
    font-size: 0.7rem;
    width: 300px;
    max-width: 100%;
    margin: auto;
}

hr.line-light-address{
    border-top: 2px solid #5e503f;
    width: 30%;
}
/*CONTACT PAGE*/

.contact-section-light {
    background: linear-gradient(to bottom,  rgba(242, 244, 243, 1), transparent), url("../images/contactbg.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding-top: 20px;
}

.contact-section-dark {
    background: linear-gradient(to bottom,  rgba(10, 9, 8, 1), transparent), url("../images/contact-us-dark.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding-top: 20px;
}

.contact-section-light h1, .contact-section-dark h1{
    font-family: "Cairo", sans-serif;
}

.contact-form {
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding: 10px;
    color: #f2f2f2;
    background-color: rgba(0, 0, 0, 0.7);
}

.contact-btn {
    margin-top: 15px;
    font-size: 1.1rem;
    background-color: #49111c;
    color:#f2f2f2;
    transition: background-color .5s;
}

/* BOTH MODALS*/
.modal-dialog {
    padding: 0px;
    color: #000000;
    text-align: center;
}

/* BOOKING MODAL*/
.booking-modal {
    background: linear-gradient(to bottom, rgba(242, 244, 243, 0.699), transparent)
}

.booking-modal-text{
    font-family: "Cairo", sans-serif;
    font-weight: 400;
}

.booking-modal-head{
    font-family: "Cairo", sans-serif;
    font-weight: 600;
}

/* CART MODAL*/

/* MEDIA QUERIES*/

@media screen and (min-width: 320px) {
    .heading h1 {
        padding-top: 50px;
        font-weight: 300;
        font-size: 1.7rem;
    }

    .sub-heading h5 {
        font-size: 1rem;
        letter-spacing: 12px;
    }
}

@media screen and (min-width: 375px) {
    .heading h1 {
        font-weight: 400;
        font-size: 2.1rem;
    }

    .sub-heading h5 {
        font-size: 1.2rem;
        letter-spacing: 15px;
    }
}

@media screen and (min-width: 768px) {
    .heading h1 {
        font-weight: 600;
        font-size: 2.4rem;
    }

    .sub-heading h5 {
        font-size: 1.8rem;
        letter-spacing: 14px;
    }

    .contact-form {
        width: 80%;
        padding: 50px;
    }
}

@media screen and (min-width: 1024px) {
    .sub-heading h5 {
        letter-spacing: 14px;
    }
}

@media screen and (min-width: 1280px) {
    .heading h1 {
        font-size: 2.2rem;
        letter-spacing: 15px;
    }

    .sub-heading h5 {
        font-size: 1.8rem;
        letter-spacing: 17px;
    }
}

@media screen and (min-width: 1920px) {
    .heading h1 {
        font-size: 2rem;
        letter-spacing: 15px;
    }

    .sub-heading h5 {
        font-size: 1.6rem;
        letter-spacing: 11px;
    }
}